// Variables
$black : #000000;
$bgColor : #080808;
$buttons : #6600CC;
$white : #ffffff;
$red : #FF3B3B;

$fontsize : 18px;

// Global

.appFooter {
    background: $red;
    padding: 5%;
    margin: 0 5% 50px 5%;
    border-radius: 10px;
}

.appFooterTitle {
    font-family: "dm-xbold";
    font-size: 40px;
    margin-bottom: 20px;
    color: $white;
}

.appFooterText {
    font-family: "dm-regular";
    color: $white;
    font-size: $fontsize;
}

// Landing
.container {
    flex: 1;
    background: $bgColor;
}
.landingBGImage {
    width: 100%;
}
.header {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 400px;
}
.headerContent {
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    padding: 5%;
}
.landingSubTitle {
    width: 100%;
    font-family: "dm-regular";
    color: $white;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}
.landingTitle {
    width: 100%;
    font-family: "dm-xbold";
    color: $white;
    font-size: 45px;
    line-height: 48px;
}
.landingTitleDate {
    font-family: "dm-regular";
    color: $white;
    font-size: 15px;
    line-height: 15px;
}
.landingRating {
    color: $white;
    font-size: 15px;
    background: $red;
    padding: 10px;
    border-radius: 25px;
    font-family: "dm-xbold";
}
.scrollViewTrending {
    padding: 0 5%;
    flex-direction: row;
    margin-bottom: 30px;
}
.scrollViewTrendingTitle {
    font-family: "dm-xbold";
    color: $white;
    padding: 5%;
    font-size: 25px;
    margin-top: 10px;
}
.trendingItems {
    flex-direction: row;
    width: 200px;
    height: 267px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.trendingItemTitle {
    font-family: "dm-xbold";
    color: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 5%;
    width: 100%;
}
.trendingItemsImg {
    width: 100%;
    height: 267px;
    flex: 1;
}

// People 

.containerPeople {
    flex: 1;
    background-color: $bgColor;
    flex-direction: column;
    width: 100%;
}
.peopleBgImage {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
}
.peopleView {
    float: 1;
    width: 100%;
    flex: 1;
}
.peopleViewBio {
    width: 90%;
    margin-left: 5%;
}
.gradBackground {
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.peopleTitle {
    font-family: "dm-xbold";
    color: $white;
    text-align: center;
    font-size: 45px;
    width: 100%;
    margin-bottom: 50px;
}
.peopleBio {
    font-family: "dm-regular";
    color: $white;
    font-size: $fontsize;
    line-height: 30px;
    width: 100%;
    margin-bottom: 50px;
}
.peopleTitleCredit, .peopleBioTitle {
    font-family: "dm-xbold";
    color: $white;
    font-size: 30px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.scrollViewCredits {
    padding-left: 5%;
}